<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

       <!--<mongo:mongo host="101.200.141.234" port="27017" />-->

       <!--<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">-->
              <!--<constructor-arg ref="mongo" />-->
              <!--<constructor-arg name="databaseName" value="bdqn" />-->
       <!--</bean>-->
       <!--<mongo:mongo host="120.79.163.96" port="27017"/>-->
       <mongo:mongo host="192.168.25.128" port="27017"/>
       <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
              <constructor-arg ref="mongo"/>
              <constructor-arg name="databaseName" value="wechat_db"/>
       </bean>
</beans>